<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/nav') %>

    <div class="jumbotron mt-5 text-center">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Click on the secure link above to access the management API page that will display clients and actions. Only admin users will be able to see the data.</p>
        <hr class="my-4">
        <p>Make sure that you have cloned the Express API and that it is running on port 5000</p>
      </div>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %>. Click on the secure link above to access the management API page that will display clients and actions. Only admin users will be able to see the data.</p> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>